/lab_7_projekt/data/
/lab_10/data/
/lab_11_projekt/trafic_32/
/lab_13_projekt/test_data.csv
/lab_13_projekt/test_embedded.csv
/lab_13_projekt/piatek_Brus_Maj.csv
/lab_13_projekt/train_data.csv
/lab_13_projekt/train_embedded.csv
